@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --negro: #141414;
    --grisNegro: #2d2d2d;
    --verdeOscuro: #475d39;
    --verde: #7C9969;
    --blanco: #ffffff;
}


.titulo{
    font-size: 56px;
    text-align: center;
    color: var(--verdeOscuro);
    padding-top: 1.5em;
    font-family: 'Inconsolata', monospace;
}

.subtirulo{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    margin-left: 4.5em;
    color: var(--verde);
}

.imagenes {
    width: 50%;
    border-radius: 10%;
}

.contenedor{
    margin: 2em 4em;
    width: 50%;
}

.imagen{
    width: 30%;
}

.ajustar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto auto;
    padding: 0 .5rem;
    flex: 1 1 0;
    align-items: center;
}

.texto{
    font-size: 16px;
    margin: 0.5em;
    font-family: 'Inconsolata', monospace;
    color: white;
}

body{
    background: #ffffff;
}

.white{
    color: white;
}


/*TARJETTAS*/
.tarjeta {
    position: relative;
    height: 20em;
}


.duo{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}

.tarjeta .front {
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid var(--verdeOscuro);
    /*background: rgba(71, 93, 57, 0.3);*/
    border-radius: 30px;
}

.tarjeta .back {
    transform: perspective(500px) rotateY(180deg);
    border: 1px solid #424242;
    /*background: rgba(174, 174, 174, 0.3);*/
    border-radius: 30px;
}

.tarjeta:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta:hover .back {
    transform: perspective(500px) rotateY(360deg);
}

.white{
    color: #c8c8c8;
}

.titulo_card_atras{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
}

.titulo_card{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
}


.texto_card1{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: justify;

}

.texto_card{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: justify;
}

.logos{
    margin: 0 1em;
    color: black;
}

.logos:hover{
    color: var(--verde);
}

.subtitulo{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--verde);
}

.texto{
    color: black;
    text-align: justify;
    margin: 0.5em 0;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}
