@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --negro: #141414;
    --grisNegro: #2d2d2d;
    --verdeOscuro: #475d39;
    --verde: #7C9969;
    --blanco: #ffffff;
}


.titulo{
    font-size: 56px;
    text-align: center;
    color: var(--verde);
    padding-top: 2em;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.subtirulo{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
    padding-top: 1rem ;
    margin-bottom: -1rem;
    font-weight: bold;
    color: white;
}

.imagenes {
    width: 25%;
    border-radius: 10%;
}

.ajustar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1rem auto;
    padding: 0 .5rem;
    flex: 1 1 0;
    align-items: center;
}

.texto{
    font-size: 16px;
    margin: 1.5em;
    font-family: 'Inconsolata', monospace;
    color: white;
}

.contenedor{
    background: rgba(71,93,57,0.7);
    width: 80%;
    margin: 2em auto;
    border-radius: 30px;
}

body{
    background: #ffffff;
}

.white{
    color: white;
}