@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --negro: #141414;
    --grisNegro: #2d2d2d;
    --verdeOscuro: #323e2d;
    --verde: #7C9969;
    --blanco: #ffffff;
    --fondo: #FFFFF0;
}

.linea {
    border-top: 1.5px solid var(--verde);
    height: 2px;
    max-width: 200px;
    padding-top: 1em;
    margin: 20px auto 0 auto;
}

.negro{
    background: var(--negro);
}

.white{
    color: white;
}

.menu1{
    background: var(--grisNegro);
}

.menu2:hover{
    background: var(--grisNegro);
}

.imagen_header{
    width: 4.5rem;
    margin-top: -4px;
    margin-left: 3rem;
}

.login_header{
    width: 3rem;
    margin-top: 7px;
    margin-right: 3rem;
}

.footer{
    background: var(--negro);
}




