@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --negro: #141414;
    --grisNegro: #2d2d2d;
    --verdeOscuro: #475d39;
    --verde: #7C9969;
    --blanco: #ffffff;
}

.landing{
    background: url("./img/principal.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh; /*Para hacer que ocupe toda la pantalla*/
}

.negro{
    background: var(--negro);
}

.titulo{
    padding-top: 3em;
    font-family: 'Comfortaa', cursive;
    color: var(--verde);
    font-weight: bold;
    font-size: 48px;
    margin-right: 3em;
}

.titulo2{
    font-family: 'Inconsolata', monospace;
    color: var(--verde);
    margin-right: 4em;
    font-weight: bold;
    text-align: justify-all;
}

.centrar{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.derecha{
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
}

.paragraph span {
    display: block;
    opacity: 0;
    animation: reveal 2s forwards var(--d);
}

.botonCTA {
    margin-top: 13em;
    margin-bottom: 2em;
    background: var(--verdeOscuro);
}

.botonCTA:hover{
    background: var(--verde);
    box-shadow: 0 0 6px #363636
}

.flecha_bajar{
    z-index: 3;
    max-width: 3.5em;
    animation: flecha-bajar-animacion 2s ease-in-out infinite;
    justify-content: center;
}

.centrar_flecha{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.tamaño{
    width: 35%;

}

.tamaño2{
    width: 30%;
}

.tamaño3{
    width: 30%;
    animation: imagenes-animacion 2s ease-in-out infinite;
    padding-bottom: 10px ;
}

.seccion{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 48px;
    color: var(--verdeOscuro);
}



/*TARJETTAS*/
.tarjeta {
    position: relative;
    height: 20em;
}

.duo{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}

.tarjeta .front {
    transform: perspective(500px) rotateY(0deg);
    background: rgba(174, 174, 174, 0.3);
    border-radius: 30px;
}

.tarjeta .back {
    transform: perspective(500px) rotateY(180deg);
    background: rgba(71, 93, 57, 0.3);
    border-radius: 30px;
}

.tarjeta:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta:hover .back {
    transform: perspective(500px) rotateY(360deg);
}

.white{
    color: #c8c8c8;
}

.img_transicion{
    margin-top: 3em ;
    width: 100%;
    height: 20em;
}

.titulo_card_atras{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.titulo_card{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
}


.texto_card1{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: justify;

}

.texto_card{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    padding-top: 5px;
    text-align: justify;

}


/*Animaciones*/

@keyframes flecha-bajar-animacion {

    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes imagenes-animacion {

    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes reveal {
    from{
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }   
}
