<?xml version="1.0" ?>
<model>
    <name>sweedish_apartment</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://3dwarehouse.sketchup.com/model/7b15f89532334522f721ed3f55ed2f59/Swedish-Three-Room-Apartment

    </description>
</model>
