# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\albao\Desktop\UNIVERSIDAD\TERCERO\SEMESTRE B\PROYECTO ROBÓTICA\proy_robotanica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
